body{
  background: white;
}

}
header{
    margin-top: 50px;
}

.login{
	display: flex;
  	justify-content: center;
	margin:0 auto;
	margin-top: 50px; 
    background: grey;
    border-color: black;
    border-radius: 10px;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    box-shadow: 10px 10px 5px #aaaaaa;

}


input{
    margin-top: 10px;
}
